body {
  background-color: #181818;
  color: rgb(255, 255, 255);
  margin: 0;
}

#mainhead {
  width: fit-content;
  height: fit-content;
  margin: 2vh;
  font-size: 55px;

}

header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #666;
  box-shadow:0 1px #181818;
}
.homeH1 {
  color: white;
  text-decoration: none;
}

.homeSection {
  position: relative;
  min-height: 89vh;
  min-width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.homeSection::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(black.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.45;
}

.button {
  padding: 10px 25px;
  font-size: 7vw;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: #181818;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;

}

.button:hover {
  background-color: rgb(53, 53, 53)
}

.button:active {
  background-color: #b9b9b9;
  box-shadow: 0 0px #666;
  transform: translateY(4px);
}
h2 {
  text-align: center;
}
p {
  text-align: center;
  margin-bottom: 20px;
}
.score {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.playerScores {
  font-size: xxx-large;
  width: fit-content;
}
#div-rules {
  height: 600px;
  width: 500px;
  background-color: #666;
  border: 1px solid #b9b9b9;
  border-radius: 5%;
  
}
#rules-placement {
  display: flex;
  justify-content: center;
  margin-top: 5vh
}
#RPS {
  margin-left: 28%;
  margin-top: 3vh;
}
.hands {
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.hands:hover {
  opacity: 75%;
}
.hands:active {
  opacity: 50%;
}
#icons {
  height: 40vh;
  
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}