@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

body {
  background-color: #282c34;
  font-family: JetBrains Mono, monospace;
  color: #e4bb68;
  margin: 0;
}

#mainhead {
  width: fit-content;
  height: fit-content;
  margin: 2vh;
  font-size: 55px;

}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0 1px #181818;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #e4bb68, #e06c75, #61afef) 1;
}

.homeH1 {
  text-decoration: none;
  color: #e4bb68;
}

.firstPageDiv {
  display: flex;
  position: relative;
  min-height: 87vh;
  min-width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  padding: 2vw;
  font-family: JetBrains Mono, monospace;
  font-size: 6vw;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  background: -webkit-linear-gradient(#e4bb68, #e06c75, #61afef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button:hover {
  opacity: 75%;
}

.button:active {
  opacity: 50%;
  background-color: #b9b9b9;
  box-shadow: 0 0px;
  transform: translateY(4px);
}

h2 {
  text-align: center;
}

p {

  margin-bottom: 20px;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.playerScores {
  font-size: xxx-large;
  width: fit-content;
}

#div-rules {
  display: flex;
  height: 600px;
  width: 500px;
  border: 1px solid #61afef;
  border-radius: 5%;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
}

ul {
  padding-left: 1.5vw;
}

#rules-placement {
  display: flex;
  justify-content: center;
  margin-top: 5vh
}

#RPS {
  display: block;
  margin: 0 auto;
}
.playerScores {
  margin-top: 1.5vh;
  margin-bottom: 1.4vh;
}
.hands {
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.hands:hover {
  opacity: 75%;
}

.hands:active {
  opacity: 50%;
}

#icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

#winnerText {
  height: fit-content;
  font-size: 50px;
  text-align: center;
  color: #61afef;

}

#lastPageButton {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10vh;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;
}

.greeting {
  position: relative;
  top: 8.6vmin;
  animation: white-out 5s infinite;
}

.closure::after {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  background: #282c34;
  transform: translate(-45vmin, -24.5vmin);
}

.closure::before {
  content: '';
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  margin-top: 5.5px;
  background: #282c34;
  transform: translate(-40vmin, 5vmin);
}

#consoleLogAnimation {
  font-size: 2.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 0
}

#resultOne {
  color: #fa8231;
}

#playAgain1 {
  color: white;
}

#resultTwo {
  color: #c678dd;
}

#playAgain2 {
  color: #a9b0bd;
}

@keyframes move {
  25% {
    transform: translatey(-5vmin);
    opacity: 1;
  }

  50% {
    transform: translatey(-11.9vmin);
  }

  75% {
    transform: translatey(-17.6vmin);
  }
}

@media only screen and (max-width: 800px) {
  #mainhead {
    font-size: 7vw;
  }

  .button {
    font-size: 14vw;

  }

  #icons {
    flex-flow: wrap;
  }

  .firstPageDiv {
    flex-direction: column;
    justify-content: space-evenly;
  }

  ul {
    padding-left: 6vw;
  }

  #consoleLogAnimation {
    font-size: 2vw;
  }

  @keyframes move {
    25% {
      transform: translatey(-5.6vmin);
      opacity: 1;
    }

    50% {
      transform: translatey(-11.1vmin);
    }

    75% {
      transform: translatey(-16.2vmin);
    }
  }
}

@media only screen and (max-width: 400px) {
  @keyframes move {
    25% {
      transform: translatey(-5.2vmin);
      opacity: 1;
    }

    50% {
      transform: translatey(-10.4vmin);
    }

    75% {
      transform: translatey(-16vmin);
    }
  }

  .button {
    font-size: 19vw;
  }

  #RPS {
    margin-top: 4vh;
    width: 70vw;
  }

  #div-rules {
    font-size: 4vw;
  }

  #winnerText {
    font-size: 30px;
  }

  .hands {
    height: 170px;
  }
}

@media only screen and (max-width: 1100px) {
  @keyframes move {
    25% {
      transform: translatey(-5.1vmin);
      opacity: 1;
    }

    50% {
      transform: translatey(-11.3vmin);
    }

    75% {
      transform: translatey(-17.5vmin);
    }
  }
}